input,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    border-radius: 5%;
    background-color: azure;
}

span {
    color: red;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    color: #275a90;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#valider {
    background: #275a90;
    color: #fff;
    padding: 6.525px 23.4px;
    border: 0;
    margin-top: 20px;
}